@media only screen and (max-width: 600px) {
  .service-c h2 {
    width: 100%;
  }
  .heading h2 {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .about-us-content h2 {
    font-size: 35px;
  }
  .service-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding: 0px 40px;
  }
  .about-us-content {
    margin-top: 20px;
  }
  .footer-main ul li {
    margin-right: 15px;
    margin-bottom: 10px;
    display: inline-flex;
    border-right: 1px solid #f1f1f1;
  }
  .circle-bg {
    background: rgba(186, 55, 58, 80%);
    width: 120px;
    height: 120px;

    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tob-bar {
    display: none;
  }
  .ptb-50 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .book-an {
    flex-direction: column;
  }
  .get {
    margin-bottom: 20px;
  }
  .why-content h4 {
    font-size: 14px;
    color: #fff;
    font-weight: 400;
  }
  .main-why-us {
    text-align: center;
    padding: 0px 20px;
    margin-bottom: 20px;
  }
  .office-location-content p {
    font-size: 17px;
    color: var(--main-bg-color);
  }
  .call-to-action h3 {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
  }
  .golden-mem {
    margin-bottom: 20px;
  }
  .call-to-action-image {
    display: none;
  }
  .call-to-action-content {
    padding-bottom: 20px;
  }
  .pull-right {
    text-align: center;
  }
  .footer-logo {
    text-align: center;
  }
  .footer-logo img {
    height: 50px;
    width: auto;
    margin-bottom: 20px;
  }
  .need-help-b {
    margin-bottom: 20px;
  }
  .circle-image img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid var(--main-bg-color);
  }
  .circle-bg h3 {
    text-align: center;
    color: #fff;
    font-size: 25px;
  }
}
