/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap');
/* heading font */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&display=swap');
/* bootstap  */
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
/* end stylesheets */

:root {
  --main-bg-color: #ba373a;
  --secondary-bg-color: #b0a15e;
  --heading-color: #191919;
  --white-color: #ffff;
}

* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
}

a:hover {
  color: #ba373a;
}

strong {
  font-weight: 700;
}

body {
  font-family: 'Jost', sans-serif;
  font-size: 14px !important;

  color: var(--heading-color);
  line-height: 1.7em;
  font-weight: 400;
  background: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

.flex-center {
  display: flex !important;
  justify-content: center !important;
}

.bordered-layout .page-wrapper {
  padding: 0px 50px 0px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
  outline: none !important;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  font-weight: normal;
  margin: 0px;
  background: none;
  line-height: 1.4em;
  color: var(--heading-color);
  font-family: 'EB Garamond', serif;
}

h1,
h2 {
  font-weight: 700;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

textarea {
  overflow: hidden;
}

p {
  position: relative;
  line-height: 1.8em;
}

.auto-container {
  position: static;
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.active {
  color: #e34133 !important;
}

img {
  display: inline-block;
  max-width: 100%;
}

.centered {
  text-align: center;
}

/* start style.css */
.tob-bar {
  background: #eee;
  padding: 10px 20px;
}

.banner {
  background: url('../images/banner.png') center center;
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
}

.top-contant ul li {
  border-right: 1px solid #999;
  display: inline-flex;

  margin-right: 20px;
}

.top-contant ul li span {
  color: var(--main-bg-color);
  font-size: 14px;
  margin-right: 10px;
}

.top-contant ul li i {
  color: var(--main-bg-color);
  margin-right: 10px;
}

.top-contant li :hover {
  transition: color 0.15s ease-in-out;
  color: var(--secondary-bg-color);
}

.pull-right {
  text-align: end;
}

.pull-right ul li {
  display: inline;
  margin-right: 15px;
}

.pull-right ul li i {
  color: var(--main-bg-color);
  font-size: 14px;
}

.pull-right ul li i:hover {
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: var(--primary-bg-color);
}

.logo img {
  height: 50px;
  width: auto;
}

.navbar-main {
  text-align: end;
}

.navbar-main ul li {
  display: inline;
  margin-right: 15px;
}

.navigatin {
  padding: 20px 20px;
}

.navbar-main ul li a {
  color: var(--main-bg-color);
  font-weight: 500;
}

.navbar-main {
  margin-top: 15px;
}

.banner img {
  width: auto;
  max-height: 100%;
}

.ptb-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.ptb-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.circle-image img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid var(--main-bg-color);
}

.service-flex {
  display: flex;
  justify-content: space-between;
}

.serivie-heading {
  text-align: center;
  margin-top: 15px;
}

.serivie-heading p {
  font-weight: 600;
}

.heading {
  text-align: center;
}

.heading h2 {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 10px;
}

.service-c h2 {
  background: var(--secondary-bg-color);
  width: 20%;
  color: var(--white-color);
  text-align: center;
  margin-bottom: 20px;
  font-size: 25px;
}

.circle-bg {
  background: rgba(186, 55, 58, 80%);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-bg h3 {
  text-align: center;
  color: #fff;
  font-size: 35px;
}

.service-flex {
  margin-top: 20px;
}

.pt-50 {
  margin-top: 50;
}

.spa-service {
  margin-top: 30px;
}

.service-child:hover {
  cursor: pointer;
}

.about-us-imaage {
  text-align: center;
}

.about-us-imaage img {
  height: 550px;
  text-align: center;
  width: auto;
}

.about-us-content span {
  font-size: 16px;
  color: var(--main-bg-color);
  font-weight: 500;
}

.about-us-content h2 {
  font-size: 55px;
}

.book-an {
  background: #ecc0c1;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  justify-content: space-between;
}

.get {
  font-weight: 600;
}

.btn-appoinmtent {
  background: var(--secondary-bg-color);
  color: #fff;
  padding: 10px 15px;
}

.btn-appoinmtent:hover {
  background: var(--main-bg-color);
  color: #fff;
  border: none;
}

.why-us {
  background: var(--main-bg-color);
}

.why-us .heading h2 {
  color: #fff;
}

.why-us-icon img {
  max-width: 100%;
  height: 50px;
  width: auto;
  margin-bottom: 20px;
}

.main-why-us {
  text-align: center;
  padding: 0px 80px;
}

.why-content h4 {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
}

.mt-20 {
  margin-top: 20px;
}

.office-location-main h2 {
  text-align: center;
  margin-bottom: 15px;
  font-weight: 700;
}

.office-location-content {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 2px 0px;
}

.office-location-image img {
  border-radius: 5px;
}

.office-location-content i {
  font-size: 25px;
  color: var(--main-bg-color);
}

.office-location-content p {
  font-size: 20px;
  color: var(--main-bg-color);
}

.testimonial {
  background: #f5f5f5;
}

.testimonial-box {
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.testimonial-iamge img {
  margin-bottom: 20px;
}

.testimonial-iamge h3 {
  font-weight: 600;
}

.main-testimonial {
  margin-top: 30px;
}

.testimonial-box:hover {
  -webkit-transform: translateY(-5%);
  transform: translateY(-5%);
  cursor: pointer;
  transition-duration: 1s;
}

.blog-content {
  padding: 10px 0px;
}

.blog-content span {
  color: var(--main-bg-color);
  font-weight: 500;
}

.blog-content h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}



.blog-iamge img {
  border-radius: 5px;
}

.main-blog {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
}

.main-blog:hover {
  -webkit-transform: translateY(-5%);
  transform: translateY(-5%);
  cursor: pointer;
  transition-duration: 1s;
}

.call-to-action-image img {
  height: 400px;
  width: auto;
}

.call-to-action {
  background: var(--secondary-bg-color);
}

.call-to-action-image {
  text-align: center;
}

.call-to-action-content {
  padding-top: 15%;
}

.call-to-action-content {
  justify-items: center;
}

.call-to-action-content span {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

.call-to-action h3 {
  color: #fff;
  font-size: 55px;
  font-weight: 600;
}

.call-to-action p {
  color: #fff;
}

.call-action {
  margin-top: 30px;
}

.btn-action {
  background: #fff;
  color: var(--heading-color);
  padding: 10px 15px;
}

.btn-action:hover {
  background: var(--main-bg-color);
  color: #fff;
  border: none;
}

.faq-flex {
  display: flex;
  background: var(--main-bg-color);
  padding: 10px;
  justify-items: center;

  align-items: center;
  justify-content: space-between;
}

.faq-flex h3 {
  color: #fff;
  font-size: 20px;
}

.faq-flex i {
  color: #fff;
}

.faq-flex:hover {
  cursor: pointer;
}

.accor-para {
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.accor-para p {
  font-weight: 400;
}

.main-accor {
  margin-bottom: 25px;
}

.still-content {
  margin-top: 25%;
}

.still-content h3 {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 10px;
}

.btn-contact-us {
  background: var(--secondary-bg-color);
  padding: 10px 55px;
  color: #fff;
  font-weight: 600;
}

.btn-contact-us:hover {
  background: var(--main-bg-color);
  border: none;
  color: #ffff;
}

.footer-bottom {
  padding: 15px;
  background: var(--main-bg-color);
}

.footer-bottom .top-contant ul li span {
  color: #fff;
}

.footer-bottom .top-contant ul li {
  border: none;
}

.footer-bottom ul li a i {
  color: #fff;
}

.main-footer {
  margin-top: 50px;
}

.footer-main {
  margin-bottom: 30px;
}

.footer-main h3 {
  font-size: 22px;
  font-weight: 600;
  color: var(--heading-color);
  margin-bottom: 10px;
}

.footer-main ul li {
  margin-right: 20px;

  margin-bottom: 10px;
  display: inline-flex;
  border-right: 1px solid #f1f1f1;
}

.footer-main ul li a {
  color: var(--heading-color);
  font-weight: 400;
}

.footer-main ul li a:hover {
  color: var(--secondary-bg-color);
  -webkit-transform: translateY(-5%);
  transform: translateY(-5%);
  cursor: pointer;
  transition-duration: 1s;
}

.footer-logo img {
  height: 80px;
  width: auto;
}

.btn-needhelp {
  background: var(--secondary-bg-color);
  padding: 10px 35px;
  color: #fff;
}

.btn-needhelp:hover {
  background: var(--main-bg-color);
  color: #fff;
}

.need-help-content h3 {
  font-weight: 600;
}

.copyright-footer {
  background: var(--main-bg-color);
}

.copyright p {
  color: #fff;
}

.privacy-link {
  text-align: end;
}

.privacy-link ul li {
  display: inline-flex;
  margin-right: 25px;
}

.privacy-link ul li a {
  color: #fff;
}

.privacy-link ul li a:hover {
  -webkit-transform: translateY(-5%);
  transform: translateY(-5%);
  cursor: pointer;
  transition-duration: 1s;
}

.sidebar ul li.active {
  display: inline-block;
}

.copyright {
  margin-top: 10px;
}

.privacy-link {
  margin-top: 10px;
  position: relative;
}

.privacy-link li::after {
  content: '';
  position: relative;
  border-right: 1px solid #fff;
  top: 0;
  left: 10px;
}

.footer-main li::after {
  content: '';
  position: relative;
  border-right: 1px solid #999;
  top: 0;
  left: 10px;
}

/* menu css */
.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-light .navbar-brand {
  color: var(--main-bg-color);
}

.navbar-light .navbar-nav .nav-link {
  color: var(--main-bg-color);
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: var(--main-bg-color);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}

.dropdown h6 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
  color: var(--heading-color);
  border-bottom: 1px solid #eee;
}

.navbar-light .navbar-nav .nav-link {
  padding-top: 15px;
  padding-bottom: 15px;
  transition: 0.3s;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 15px;
  font-weight: 700;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  background: var(--main-bg-color);
  transition: 0.3s;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #fff;
  text-decoration: none;
  background-color: var(--secondary-bg-color) !important;
}

.sm-menu {
  border-radius: 0px;
  border: 0px;
  top: 97%;
  box-shadow: rgba(173, 173, 173, 0.2) 1px 3px 4px 0px;
}

.dropdown-menu i {
  width: 20px;
}

.dropdown-item {
  color: #3c3c3c;
  font-size: 14px;
}

.test{
  pointer-events: none;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #2196f3;
}

.navbar-toggler {
  outline: none !important;
  position: absolute;
  right: 0;
  top: -40px;
}

.navbar-tog {
  color: #1ebdc2;
}

.megamenu-li {
  position: static;
}

.megamenu {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  padding: 15px;
}

.megamenu h6 {
  margin-left: 21px;
}

.megamenu i {
  width: 20px;
}


