nav ul li a:not([href]):not([class]) {
  color: #fff;
}
nav ul li a:not([href]):not([class]):hover {
  color: #fff;
}
.navbar-dropdown li a {
  background: #000000;
}
.navbar-dropdown {
  background: #000000;
}
.entry-blog-post a {
  color: #fff !important;
}
.service-main-img {
  background: #fff;
}
.megamenu {
  position: relative;
}

.nac{
  display: inline-block !important;
  float: left;
}
.nav-image img {
  height: 260px;
  width: auto;
  /* position: absolute;
  bottom: 0; */
  z-index: 1;
  overflow: hidden;
}
.non h5 {
  font-weight: 600;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  font-weight: 700 !important;
}
.service-main-img {
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
  border-radius: 10px;
}
.service-main-img img {
  border-radius: 10px;
}
.service-main-content {
  text-align: center;
  padding: 15px 20px;
}
.service-main-content h3 {
  font-weight: 700;
  font-size: 1.2rem;
  color: #000;
}
.pointer h3 {
  margin-bottom: 30px;
}
.navbar-dropdown li a {
  background: #000000;
  font-size: 13px;
}
.head {
  border-bottom: 2px solid #f1f1f1;
}
.blog-description h2 {
  text-align: center;
  font-weight: 600;
  margin-bottom: 50px;
}
.featured-img img {
  height: 500px;
  width: 100%;
  margin: 0 auto;

  object-fit: cover;
}
.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0;
  font-size: 0;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '•';
  width: 20px;
  height: 20px;
  font-family: 'slick';
  font-size: 6px;
  line-height: 5px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}
.single-case-study {
  position: relative;
}
.bg-pdf {
}
.content-pdf {
  list-style: none;
  background: #fff;
  display: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 40px;
  border-radius: 5px;
  height: 40px;

  transform-origin: top right;
  position: absolute;
  top: 20px;
  right: 15px;
  z-index: 2;
  transition: all 0.3s ease 0s;
}
.pdf-i:hover .content-pdf {
  display: block;
  background: #e41d2e;
}
.medi-aw {
  margin-left: 50px !important;
}
.together {
  font-weight: 700;
}
.pdf-i:hover .content-pdf i {
  color: #fff;
  animation-delay: 00.5s;
  animation-duration: 0.5ms;
}
.pdf-i:hover .single-case-study {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.single-case-study img {
  height: 450px;
  object-fit: cover;
}
.content-pdf i {
  color: #e41d2e;
  margin: 10px;
  font-size: 22px;
}
.blog-description h3 {
  font-weight: 600 !important;
  font-size: 1.5rem;
  line-height: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #000;
}
.whatsapp-footer {
  position: relative;
  z-index: 999999;
}
.whatsapp-fix {
  position: fixed;
  right: 20px;
  bottom: 80px;
}
.main-t h4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
#scrollUp {
  bottom: 20px;
  right: 20px;
  width: 30px;
  height: 50px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  color: #fff;
  opacity: 0.6;
  background: url(../images/up-arrow.svg) center center no-repeat #000;
  background-size: 15px;
}
.whatsapp-fix img {
  height: 50px;
  width: auto;
}
.blog-sub {
  height: 100px !important;
  overflow: hidden;
}
.blog-sub p {
  margin-bottom: 10px;
}
.thankyou-iamge {
  text-align: center;
}
.mar3 {
  margin-left: 15px;
}
.thankyou-content h3 {
  font-size: 3.8rem;
  font-weight: 600;
  margin-bottom: 15px;
}

.testimonial-box {
  margin-right: 20px;
}
.gold-content h4 {
  color: #333;
  line-height: 45px;
}
.btn-active {
  background-color: var(--primary-color);
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  color: #fff !important;
  -webkit-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.contenttt {
  animation: mymove 5s infinite;
}
.policies-m {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
}
.main-blog {
  margin-right: 15px;
}
@keyframes mymove {
  from {
    left: 0px;
  }
  to {
    left: 200px;
  }
}
.main-timeline {
  font-family: tahoma;
  padding: 20px 0;
  position: relative;
}

.main-timeline::before,
.main-timeline::after {
  content: '';
  height: 40px;
  width: 40px;
  background-color: #e7e7e7;
  border-radius: 50%;
  border: 10px solid #303334;
  transform: translatex(-50%);
  position: absolute;
  left: 50%;
  top: -10px;
  z-index: 2;
}

.main-timeline::after {
  top: auto;
  bottom: 10px;
}

.main-timeline .timeline {
  padding: 35px 0;
  margin-top: -17px;
  position: relative;
  z-index: 1;
}

.main-timeline .timeline::before,
.main-timeline .timeline::after {
  content: '';
  height: 100%;
  width: 50%;
  border-radius: 110px 0 0 110px;
  border: 2px solid #46b2bc;
  border-right: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.main-timeline .timeline::after {
  height: calc(100% - 30px);
  width: calc(50% - 12px);
  border-color: #65c7d0;
  left: 12px;
  top: 15px;
}

.main-timeline .timeline-content {
  display: inline-block;
}

.main-timeline .timeline-content:hover {
  text-decoration: none;
}

.main-timeline .timeline-year {
  color: #65c7d0;
  font-size: 50px;
  font-weight: 600;
  display: inline-block;
  transform: translatey(-50%);
  position: absolute;
  top: 50%;
  left: 10%;
}
.tt {
  width: 80% !important;
}
.main-timeline .timeline-icon {
  color: #65c7d0;
  font-size: 70px;
  display: inline-block;
  transform: translateY(-50%);
  position: absolute;
  left: 20%;
  top: 50%;
}
/* .slick-slider {
  margin: 0 -15px;
}
.slick-slide {
  padding: 10px;

  text-align: center;
  margin-right: 15px;
  margin-left: 15px;
} */
.main-timeline .content {
  color: #909090;
  width: 50%;
  padding: 20px;
  display: inline-block;
  float: right;
}

.main-timeline .title {
  color: #65c7d0;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}

.main-timeline .description {
  font-size: 16px;
  margin: 0;
}

.main-timeline .timeline:nth-child(even)::before {
  left: auto;
  right: 0;
  border-radius: 0 110px 110px 0;
  border: 2px solid red;
  border-left: none;
}

.main-timeline .timeline:nth-child(even)::after {
  left: auto;
  right: 12px;
  border-radius: 0 100px 100px 0;
  border: 2px solid green;
  border-left: none;
}
/* .gallary-sec {
  margin: 0 95px;
} */
.main-timeline .timeline:nth-child(even) .content {
  float: left;
}

.main-timeline .timeline:nth-child(even) .timeline-year {
  left: auto;
  right: 10%;
}

.main-timeline .timeline:nth-child(even) .timeline-icon {
  left: auto;
  right: 32%;
}

.main-timeline .timeline:nth-child(5n + 1)::before {
  border-color: #46b2bc;
}

.main-timeline .timeline:nth-child(5n + 1)::after {
  border-color: #65c7d0;
}

.main-timeline .timeline:nth-child(5n + 1) .timeline-icon {
  color: #65c7d0;
}

.main-timeline .timeline:nth-child(5n + 1) .timeline-year {
  color: #65c7d0;
}

.main-timeline .timeline:nth-child(5n + 1) .title {
  color: #65c7d0;
}

.main-timeline .timeline:nth-child(5n + 2)::before {
  border-color: #ea3c14;
}

.main-timeline .timeline:nth-child(5n + 2)::after {
  border-color: #ef5720;
}

.main-timeline .timeline:nth-child(5n + 2) .timeline-icon {
  color: #ea3c14;
}

.main-timeline .timeline:nth-child(5n + 2) .timeline-year {
  color: #ea3c14;
}

.main-timeline .timeline:nth-child(5n + 2) .title {
  color: #ea3c14;
}

.main-timeline .timeline:nth-child(5n + 3)::before {
  border-color: #8cc63e;
}

.main-timeline .timeline:nth-child(5n + 3)::after {
  border-color: #6caf29;
}

.main-timeline .timeline:nth-child(5n + 3) .timeline-icon {
  color: #8cc63e;
}
.megamenu h6 {
  margin-top: 20px;
}
.main-timeline .timeline:nth-child(5n + 3) .timeline-year {
  color: #8cc63e;
}

.main-timeline .timeline:nth-child(5n + 3) .title {
  color: #8cc63e;
}
.only-m {
  display: none !important;
}
.main-timeline .timeline:nth-child(5n + 4)::before {
  border-color: #f99324;
}

.main-timeline .timeline:nth-child(5n + 4)::after {
  border-color: #fbb03b;
}

.main-timeline .timeline:nth-child(5n + 4) .timeline-icon {
  color: #f99324;
}

.main-timeline .timeline:nth-child(5n + 4) .timeline-year {
  color: #f99324;
}

.main-timeline .timeline:nth-child(5n + 4) .title {
  color: #f99324;
}

.main-timeline .timeline:nth-child(5n + 5)::before {
  border-color: #0071bd;
}

.main-timeline .timeline:nth-child(5n + 5)::after {
  border-color: #0050a3;
}

.main-timeline .timeline:nth-child(5n + 5) .timeline-icon {
  color: #0071bd;
}

.main-timeline .timeline:nth-child(5n + 5) .timeline-year {
  color: #0071bd;
}

.main-timeline .timeline:nth-child(5n + 5) .title {
  color: #0071bd;
}
.nofound-iamge img {
  height: 500px;
  margin: 0 auto;
  width: auto;
}
.nofound-iamge {
  text-align: center;
}
.loading {
  width: 100%;
  height: 100%;
  height: 100vh;
  background: rgba(255, 255, 255);
  z-index: 120;
  position: fixed;
  top: 0;
  left: 0;
}
.loading-content {
  height: 100%;
  margin-top: 15%;
  text-align: center;
}
.nofound-iamge {
  text-align: center;
}
.nofound-iamge img {
  height: 500px;
  margin: 0 auto;
  width: auto;
}
.loading-content img {
  height: 60px;
  width: auto;
}
@media screen and (max-width: 1200px) {
  .main-timeline .timeline:after {
    border-radius: 88px 0 0 88px;
  }
  .main-timeline .timeline:nth-child(even):after {
    border-radius: 0 88px 88px 0;
  }
}
@media screen and (max-width: 767px) {
  .main-timeline .timeline {
    margin-top: -19px;
  }
  .main-timeline .timeline:before {
    border-radius: 50px 0 0 50px;
    border-width: 10px;
  }
  .main-timeline .timeline:after {
    height: calc(100% - 18px);
    width: calc(50% - 9px);
    border-radius: 43px 0 0 43px;
    border-width: 10px;
    top: 9px;
    left: 9px;
  }
  .main-timeline .timeline:nth-child(even):before {
    border-radius: 0 50px 50px 0;
    border-width: 10px;
  }
  .main-timeline .timeline:nth-child(even):after {
    height: calc(100% - 18px);
    width: calc(50% - 9px);
    border-radius: 0 43px 43px 0;
    border-width: 10px;
    top: 9px;
    right: 9px;
  }
  .main-timeline .timeline-icon {
    font-size: 60px;
  }
  .main-timeline .timeline-year {
    font-size: 40px;
  }
}

@media screen and (max-width: 992px) {
  .main-timeline .timeline-icon {
    font-size: 50px;
    transform: translateY(0);
    top: 25%;
    left: 10%;
  }
  .tt {
    width: 60% !important;
  }
  .timeline-icon img {
    height: 70px;
    width: auto;
  }
  .main-timeline .timeline-year {
    font-size: 25px;
    transform: translateY(0);
    top: 65%;
    left: 9%;
  }
  .main-timeline .content {
    width: 68%;
    padding: 10px;
  }
  .main-timeline .title {
    font-size: 18px;
  }
  .main-timeline .timeline:nth-child(even) .timeline-icon {
    right: 10%;
  }
  .main-timeline .timeline:nth-child(even) .timeline-year {
    right: 9%;
  }
  .main-title-section h1 {
    color: #fff;
    font-size: 2.2rem;
    margin-top: 25px;
  }
  .breadcrumb-section.type2 {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    height: 170px;
    z-index: 10;
    position: relative;
  }
  .breadcrumb .active {
    color: var(--secondary-bg-color) !important;
    font-size: 0.8rem;
    font-weight: 600;
  }
  .main-breadcrumb {
    margin-top: 12%;
  }
  #mobile_nav {
    display: none !important;
  }
  .only-m {
    display: block !important;
    height: 100%;
    width: 100%;
    background: #000;
  }
  /* mobile */
  .mobile-header {
    position: fixed;
    /* overflow: scroll; */
    height: 100%;
    background: #fff;
    top: 0;
    left: 0;
    width: 69%;
    z-index: 10;
    box-shadow: 0 10px 50px rgba(178, 89, 89, 0.25);
  }
  .mobile-header-a {
    /* height: 1000px; */
  }
  .desk-start {
    background: #fff;
    padding-bottom: 50px;
    height: 100vh;
  }
  .main-category li {
    padding: 0;
    background: #fff;
  }
  .desk-start ul li a {
    padding: 10px 20px;
    color: #191919;
  }
  .main-category li a {
    position: relative;
  }
  .main-category li a {
    width: 100%;
    padding: 10px;
    display: block;
    border-bottom: 1px solid #fff2f2;
  }
  .main-category ul li a:hover {
    background: #000000;
  }
  .dropdown-item:hover {
    background: #0050a3;
  }
  .mobile-logo {
    text-align: center;
  }
  .mobile-logo img {
    height: 80px;
    width: auto;
    padding: 20px 0px;
  }
  nav ul li a:not([href]):not([class]) {
    color: #191919 !important;
  }
  .gallary-sec {
    margin: 0px !important;
  }
  .contact-us-heading h2 {
    font-size: 2.5rem !important;
  }
  .sub-hea h3 {
    font-weight: 700;
    font-size: 1.2rem !important;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 992px) {
  .navbar-light .navbar-nav .nav-link {
    transition: 0.3s;
    padding: 10px 10px;
    font-size: 1rem;
    font-weight: 700;
  }
}
@media only screen and (max-width: 992px) {
  .desk-start ul li a {
    padding: 10px 20px;
    color: #191919;
  }
  .desk-start {
    background: #fff;
    padding-bottom: 50px;
    height: 100vh;
  }
  
}
