/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap');
/* heading font */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&display=swap');
/* bootstap  */
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
/* end stylesheets */

:root {
  --main-bg-color: rgb(176, 161, 94);
  --secondary-bg-color: #b0a15e;
  --heading-color: #191919;
  --more-color: rgba(176, 161, 94, 0.8);
  --white-color: #ffff;
}

* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  min-width: 0;
  min-height: 0;
}

.slick-prev:before,
.slick-next:before {
  display: none !important;
}

.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
  background-color: #ffffff !important;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  padding-top: 0px;
  padding-bottom: 0px;
}

a:hover {
  color: #ba373a;
}

strong {
  font-weight: 700;
}

body {
  font-family: 'Jost', sans-serif;
  font-size: 14px;
  color: var(--heading-color);
  line-height: 1.7em;

  font-weight: 400;
  background: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

.bordered-layout .page-wrapper {
  padding: 0px 50px 0px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
  outline: none !important;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  font-weight: normal;
  margin: 0px;
  background: none;
  line-height: 1.4em;
  color: var(--heading-color);
  font-family: 'EB Garamond', serif;
}

h1,
h2 {
  font-weight: 700;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

textarea {
  overflow: hidden;
}

p {
  position: relative;
  line-height: 1.8em;
}

.auto-container {
  position: static;
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.active {
  color: #e34133 !important;
}

img {
  display: inline-block;
  max-width: 100%;
}

.centered {
  text-align: center;
}

/* start style.css */
.tob-bar {
  background: #eee;
  padding: 10px 20px;
}

.banner {
  background: url('../images/banner.png') center center;
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
}

.top-contant ul li {
  border-right: 1px solid #999;
  display: inline-flex;

  margin-right: 20px;
}

.process {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #eee;
}

.top-contant ul li span {
  color: var(--main-bg-color);
  font-size: 14px;
  margin-right: 10px;
}

.top-contant ul li i {
  color: var(--main-bg-color);
  margin-right: 10px;
}

.top-contant li :hover {
  transition: color 0.15s ease-in-out;
  color: var(--secondary-bg-color);
}

.pull-right {
  text-align: end;
}

.pull-right ul li {
  display: inline;
  margin-right: 15px;
}

.pull-right ul li i {
  color: var(--main-bg-color);
  font-size: 14px;
}

.pull-right ul li i:hover {
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: var(--secondary-bg-color);
}

.logo img {
  height: 60px;
  width: auto;
}

.navbar-main {
  text-align: end;
}

.navbar-main ul li {
  display: inline;
  margin-right: 15px;
}

.ul-margin {
  margin-left: 0.5rem;
}

.display-inherite {
  /* display: inherit !important; */
}

.navigatin {
  padding: 10px 20px;
}

.navbar-main ul li a {
  color: var(--main-bg-color);
  font-weight: 500;
}

.navbar-main {
  margin-top: 15px;
}

.banner img {
  width: auto;
  max-height: 100%;
}

.ptb-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.ptb-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.circle-image img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid var(--main-bg-color);
}

.service-flex {
  display: flex;
  justify-content: space-between;
}

.serivie-heading {
  text-align: center;
  margin-top: 15px;
}

.serivie-heading p {
  font-weight: 600;
}

.heading {
  text-align: center;
}

.heading h2 {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 10px;
}

.service-c h2 {
  background: var(--secondary-bg-color);
  width: 47%;
  color: var(--white-color);
  text-align: center;
  margin-bottom: 20px;
  font-size: 25px;
}

.service-spa-salon h2 {
  background: var(--secondary-bg-color);
  /* width: 22%; */
  color: var(--white-color);
  text-align: center;
  margin-bottom: 20px;
  font-size: 25px;
  display: inline-block;
  padding: 7px;
}

.circle-bg {
  background: var(--more-color);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-sec {
  width: 100%;
  max-width: 100%;
}

.circle-bg h3 {
  text-align: center;
  color: #fff;
  font-size: 35px;
}

.service-flex {
  margin-top: 20px;
}

.pt-50 {
  margin-top: 50;
}

.spa-service {
  margin-top: 30px;
}

.service-child:hover {
  cursor: pointer;
}

.about-us-imaage {
  text-align: center;
}

.about-us-imaage img {
  height: 550px;
  text-align: center;
  width: auto;
}

.about-us-content span {
  font-size: 16px;
  color: var(--main-bg-color);
  font-weight: 500;
}

.about-us-content h2 {
  font-size: 55px;
}

.book-an {
  background: #ecc0c1;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  justify-content: space-between;
}

.get {
  font-weight: 600;
}

.btn-appoinmtent {
  background: var(--secondary-bg-color);
  color: #fff;
  padding: 10px 15px;
}

.btn-appoinmtent:hover {
  background: var(--main-bg-color);
  color: #fff;
  border: none;
}

.why-us {
  background: var(--main-bg-color);
}

.why-us .heading h2 {
  color: #fff;
}

.why-us-icon img {
  max-width: 100%;
  height: 50px;
  width: auto;
  margin-bottom: 20px;
}

.main-why-us {
  text-align: center;
  padding: 0px 80px;
}

.why-content h4 {
  font-size: 13px;
  color: #fff;
  font-weight: 400;
}

.mt-20 {
  margin-top: 20px;
}

.office-location-main h2 {
  text-align: center;
  margin-bottom: 15px;
  font-weight: 700;
}

.office-location-content {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 2px 0px;
}

.office-location-image img {
  border-radius: 5px;
}

.office-location-content i {
  font-size: 25px;
  color: var(--main-bg-color);
}

.office-location-content p {
  font-size: 20px;
  color: var(--main-bg-color);
}

.testimonial {
  background: #f5f5f5;
}

.testimonial-box {
  padding: 20px;
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.circle-image {
  text-align: center;
}

.service-child {
  flex: 1;
}

.testimonial-iamge img {
  margin-bottom: 20px;
}

.testimonial-iamge h3 {
  font-weight: 600;
  font-size: 1.3rem;
}

.main-testimonial {
  margin-top: 30px;
}

.testimonial-box:hover {
  -webkit-transform: translateY(-5%);
  transform: translateY(-5%);
  cursor: pointer;
  transition-duration: 1s;
}

.blog-content {
  padding: 10px 0px;
}

.blog-content span {
  color: var(--main-bg-color);
  font-weight: 500;
}

.blog-content h3 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.blog-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px;
  text-align: center;
  margin: 1rem 0 1.5rem;
  overflow: hidden;
}

.blog-iamge img {
  border-radius: 5px;
}

.main-blog {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
}

.main-blog:hover {
  -webkit-transform: translateY(-5%);
  transform: translateY(-5%);
  cursor: pointer;
  transition-duration: 1s;
}

.call-to-action-image img {
  height: 400px;
  width: auto;
}

.call-to-action {
  background: var(--secondary-bg-color);
}

.call-to-action-image {
  text-align: center;
}

.call-to-action-content {
  padding-top: 15%;
}

.call-to-action-content {
  justify-items: center;
}

.call-to-action-content span {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

.call-to-action h3 {
  color: #fff;
  font-size: 55px;
  font-weight: 600;
}

.call-to-action p {
  color: #fff;
}

.call-action {
  margin-top: 30px;
}

.btn-action {
  background: #fff;
  color: var(--heading-color);
  padding: 10px 15px;
}

.btn-action:hover {
  background: var(--main-bg-color);
  color: #fff;
  border: none;
}

.faq-flex {
  display: flex;
  background: var(--main-bg-color);
  padding: 10px;
  justify-items: center;

  align-items: center;
  justify-content: space-between;
}

.faq-flex h3 {
  color: #fff;
  font-size: 20px;
}

.faq-flex i {
  color: #fff;
}

.faq-flex:hover {
  cursor: pointer;
}

.accor-para {
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.accor-para p {
  font-weight: 400;
}

.main-accor {
  margin-bottom: 25px;
}

.still-content {
  margin-top: 25%;
}

.still-content h3 {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 10px;
}

.btn-contact-us {
  background: var(--secondary-bg-color);
  padding: 10px 55px;
  color: #fff;
  font-weight: 600;
}

.btn-contact-us:hover {
  background: var(--main-bg-color);
  border: none;
  color: #ffff;
}

.footer-bottom {
  padding: 15px;
  background: var(--main-bg-color);
}

.footer-bottom .top-contant ul li span {
  color: #fff;
}

.footer-bottom .top-contant ul li {
  border: none;
}

.footer-bottom ul li a i {
  color: #fff;
}

.footer-bottom ul li a i:hover {
  color: #fff !important;

}

.main-footer {
  margin-top: 50px;
}

.footer-main {
  margin-bottom: 30px;
}

.footer-main h3 {
  font-size: 22px;
  font-weight: 600;
  color: var(--heading-color);
  margin-bottom: 10px;
}

.footer-main ul li {
  margin-right: 20px;

  margin-bottom: 10px;
  display: inline-flex;
  border-right: 1px solid #f1f1f1;
}

.footer-main ul li a {
  color: var(--heading-color);
  font-weight: 400;
}

.footer-main ul li a:hover {
  color: var(--secondary-bg-color);
  -webkit-transform: translateY(-5%);
  transform: translateY(-5%);
  cursor: pointer;
  transition-duration: 1s;
}

.footer-logo img {
  height: 80px;
  width: auto;
}

.btn-needhelp {
  background: var(--secondary-bg-color);
  padding: 10px 35px;
  color: #fff;
}

.btn-needhelp:hover {
  background: var(--main-bg-color);
  color: #fff;
}

.need-help-content h3 {
  font-weight: 600;
}

.copyright-footer {
  background: var(--main-bg-color);
}

.copyright p {
  color: #fff;
}

.privacy-link {
  text-align: end;
}

.privacy-link ul li {
  display: inline-flex;
  margin-right: 25px;
}

.privacy-link ul li a {
  color: #fff;
}

.privacy-link ul li a:hover {
  -webkit-transform: translateY(-5%);
  transform: translateY(-5%);
  cursor: pointer;
  transition-duration: 1s;
}

.sidebar ul li.active {
  display: inline-block;
}

.copyright-footer {}

.copyright {
  margin-top: 10px;
}

.privacy-link {
  margin-top: 10px;
  position: relative;
}

.megamenu h6 {
  background: rgb(0 0 0 / 65%);
  color: #fff !important;
  text-transform: uppercase;
  text-align: center;
  font-size: 1rem !important;
  padding: 5px;
}

.privacy-link li::after {
  content: '';
  position: relative;
  border-right: 1px solid #fff;
  top: 0;
  left: 10px;
}

.footer-main li::after {
  content: '';
  position: relative;
  border-right: 1px solid #999;
  top: 0;
  left: 10px;
}

/* menu css */
.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.megamenu {
  left: -30% !important;
}

.fl {
  float: right !important;
}

.navbar-light .navbar-brand {
  color: var(--main-bg-color);
}

.navbar-light .navbar-nav .nav-link {
  color: var(--main-bg-color);
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: var(--main-bg-color);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}

.dropdown h6 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
  color: var(--heading-color);
  border-bottom: 1px solid #eee;
}

.navbar-light .navbar-nav .nav-link {
  transition: 0.3s;
  padding: 10px 10px;
  font-size: 0.8rem;
  font-weight: 700;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  background: var(--main-bg-color);
  transition: 0.3s;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #fff;
  text-decoration: none;
  background-color: var(--secondary-bg-color) !important;
}

.sm-menu {
  border-radius: 0px;
  border: 0px;
  top: 97%;
  box-shadow: rgba(173, 173, 173, 0.2) 1px 3px 4px 0px;
}

.dropdown-menu i {
  width: 20px;

}

.dropdown-menu {
  overflow: auto;
  display: none;
  /* height: calc(100vh - 80px); */

}

.dropdown-menu::-webkit-scrollbar {
  display: none;
}

.dropdown-item {
  color: #3c3c3c;
  font-size: 14px;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #2196f3;
}

.navbar-toggler {
  outline: none !important;
  position: absolute;
  right: 0;
  top: -40px;
}

.navbar-tog {
  color: #1ebdc2;
}

.megamenu-li {
  position: static;
}

.megamenu {
  position: absolute;
  width: 100%;
  left: -200px;
  right: 0;
  padding: 15px;

  width: 75vw;
}

.megamenu h6 {
  margin-left: 21px;
}

.megamenu i {
  width: 15px;
  font-size: 8px;
}



.ReactGridGallery_tile {
  margin: 8px !important;
}

.ReactGridGallery_tile-viewport img {
  height: 200px !important;
  width: auto !important;
}

.gift-form {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
}

/* about us */
.breadcrumb-section {
  background-image: url('/assets/images/breadcrumb-default-bg.jpg');
}

.breadcrumb-section.type2 {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  height: 300px;
  z-index: 10;
  position: relative;
}

.gift-form h2 {
  color: var(--main-bg-color);
  margin-bottom: 5px;
}

.awards-flex {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
}

.main-breadcrumb {
  margin-top: 8%;
}

.awards-main ul li {
  line-height: 30px;
  text-decoration: dotted !important;
  margin-bottom: 5px;
}

.awards-main {
  margin-bottom: 20px;
}

.awards-main ul li i {
  color: var(--main-bg-color);
  font-size: 8px;
  margin-right: 10px;
}

.awards-flex {
  display: flex;
  align-items: center;
  gap: 30px;
}

.image-layer {
  position: absolute;
  left: 0px;
  top: 0;
  background: rgb(0 0 0 / 65%);
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-title-section h1 {
  color: #fff;
  font-size: 3.5rem;
  margin-top: 25px;
}

.ReactGridGallery_tile {
  background: none !important;
}

.gallery-section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.breadcrumb .simpletext {
  color: #fff;
  margin-right: 15px;
}

.breadcrumb a {
  color: #fff;
  margin-right: 5px;
}

.breadcrumb span {
  color: #fff;
  margin-right: 10px;
}

.breadcrumb .active {
  color: var(--secondary-bg-color) !important;
  font-size: 1.2rem;
  font-weight: 600;
}

.breadcrumb a:hover {
  color: var(--main-bg-color);
}

.step-image {
  background: #fff;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.image img {
  height: 300px;
  object-position: top;
  object-fit: cover;
  width: 100%;
}

.step-content {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.step-content h3 {
  font-weight: 600;
  font-size: 28px;
}

.step-content h2 {
  font-weight: 600;
  color: var(--main-bg-color);
  font-size: 24px;
}

.step-image:hover {
  -webkit-transform: translateY(-5%);
  transform: translateY(-2%);
  cursor: pointer;
  transition-duration: 1s;
}

.service-name {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-bottom: 20px;
  position: relative;
}

.bg-shape-1 {
  position: absolute;
  top: -130px;
  transform: rotate(220deg);
  opacity: 0.5;
}

.service-heading h2 {
  font-size: 50px;
  font-weight: 600;
  color: var(--heading-color);
}

.single-service {
  background: var(--secondary-bg-color);
  position: relative;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px 40px;
  border-radius: 5px;
  position: sticky;
  top: 100px;
}

.single-service .form-control {
  border-radius: 5px;
  padding: 10px 10px;
  color: #191919;
}

.btn-feedback:hover,
.btn-quote:hover {
  background: var(--main-bg-color);
  border: 1px solid var(--main-bg-color);
  color: #fff !important;
}

.btn-quote {
  background-color: #fff;
  padding: 10px 30px;
  color: #191919;
  box-shadow: 0 10px 50px rgba(178, 89, 89, 0.25);
  font-weight: 500;
  border-radius: 50px;
  cursor: pointer;

  border: 1px solid #fff;
  margin-top: 10px;
}

.single-service .form-control:focus {
  box-shadow: 0 10px 50px rgba(178, 89, 89, 0.25);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.service-main-c span {
  font-size: 16px;
  color: var(--main-bg-color);
  font-weight: 500;
}

.service-main-c h2 {
  font-size: 40px;
  margin-bottom: 10px;
}

.service-bottom {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fff;
}

.service-main-c ul li {
  list-style-type: circle;
  margin-bottom: 20px;
  color: var(--heading-color);
  font-weight: 500;
}

.service-main-c strong {
  margin-bottom: 10px;
  display: block;
}

.service-img img {
  max-width: 100%;
  margin-right: 25px;
}

.service-main-c {
  margin-left: 25px;
}

.contact-us-page {
  padding-top: 50px;
  padding-bottom: 50px;
}

.contact-us-heading span {
  font-size: 16px;
  color: var(--main-bg-color);
  font-weight: 500;
}

.contact-us-heading h2 {
  font-size: 3.5rem;
}

.contact-us-heading {
  margin-bottom: 20px;
}

.contant-us-form {
  background: var(--secondary-bg-color);
  position: relative;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px 40px;
  border-radius: 5px;
  position: sticky;
  top: 20px;
}

.contant-us-form .form-control {
  border-radius: 5px;
  padding: 10px 10px;
  color: #191919;
}

.btn-feedback:hover,
.btn-quote:hover,
.hubspot-form form input[type=submit]:hover {
  background: var(--main-bg-color);
  border: 1px solid var(--main-bg-color);
  color: #fff !important;
}

.btn-quote,
.hubspot-form form input[type=submit] {
  background-color: #fff;
  padding: 10px 30px;
  color: #191919;
  box-shadow: 0 10px 50px rgba(178, 89, 89, 0.25);
  font-weight: 500;
  border-radius: 50px;
  cursor: pointer;
  border: 1px solid #fff;
  margin-top: 10px;
  text-transform: uppercase;
}

.contant-us-form .form-control:focus,
.hubspot-form form .hs-input:not([type=file]):focus {
  box-shadow: 0 10px 50px rgba(178, 89, 89, 0.25);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.gift-card {
  position: sticky;
  top: 10px;
}

/* forms gift card */
.gift-form label {
  color: #191919;
  margin-bottom: 10px;
  font-weight: 700;
}

.gift-form .form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: var(--main-bg-color);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}

.gift-form .form-group {
  margin-bottom: 10px;
}

.btn-bynow {
  background: var(--main-bg-color);
  width: 100%;
  color: #fff;
  border-radius: 2px;
}

.btn-bynow:hover {
  background: var(--secondary-bg-color);
  color: #fff;
}

.gift-form .form-group .form-control {
  padding: 8px 10px;
  border-radius: 2px;
}

.single-content {
  text-align: center;
}

.single-content h3 {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 40px;
}

.blog_section .single-image img,
.blog_section .main-blog-single img {
  width: 100%;
  height: 100%;
  max-height: 500px;
  object-fit: cover;

}

.main-blog-single iframe {
  border: 0;
  height: 100vh;
  width: 100%;
}

.single-image {
  text-align: center;
}

.main-blog-single {
  margin-top: 50px;
}

.main-blog-single h4 {
  font-weight: 600;
  margin-bottom: 10px;
}

.blog-content {
  /* height: 450px; */
  /* text-align: center; */
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
  margin-bottom: 25px;
}

.row-justify {
  justify-content: center;
}

/* image gallery */


.image-gallery-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  margin-bottom: 20px;
  padding-bottom: 30px;

}

.gallery-container:first-child {
  padding-top: 0px;
}

.gallery-container {
  padding-top: 30px;
}

.image-card {
  overflow: hidden;
}

.image-card img:hover {
  transform: scale(1.2);
  transition: all 3s linear;
  -webkit-transition: all 3s linear;

}

.image-card {
  width: 100%;
  margin-bottom: 30px;

}

.nor-height {
  height: 380px;

}

.image-galley-wrapper {
  margin: 0 50px;
  column-count: 3;
  column-gap: 35px;
}

.ext-height {
  height: 450px;
}
.gallery-container:nth-child(2) .image-gallery-title{
  padding-top: 60px;
}

.gallery-container:nth-child(3) .image-gallery-title{
  padding-top: 80px;
}


.img-container{
  position: relative;
  padding: 22px 0 2px 0;
}

.image-title{
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;
}

.image-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 0 !important;
}

.image-card img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 1s linear;
  -webkit-transition: all 1s linear;
  /* -webkit-filter: grayscale(50%); */
  /* filter: grayscale(50%); */

}

.blog-iamge img {
  border-radius: 5px;
  height: 275px;
  width: 100%;
  object-fit: cover;
}

.bs {
  box-shadow: 0 10px 50px rgb(211 204 172);
}

.step-image {
  background: #fff;
  padding: 0px;
  margin-bottom: 20px;
  border-radius: 10px;
  height: 100%;
}

.bg-doctor {
  background-color: #f5eed7;
}

.image img {
  width: 100%;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

.text-center {
  text-align: center !important;
}

.doctor p {
  padding: 5px 20px;
}

.mb-30 {
  margin-bottom: 30px;
}



/* Hubspot Form CSS */
.hubspot-form form .hs-input:not([type=file]) {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.hubspot-form form .actions {
  text-align: center;
}

.hubspot-form form .hs-error-msgs label {
  font-size: 12px;
  color: red;
}


@media (max-width:999px) {
  .image-galley-wrapper {
    column-count: 2;
    margin: 0;

  }
}

@media (max-width:768px) {
  .image-galley-wrapper {
    column-count: 1;
  }
}


@media only screen and (max-width: 768px) {

  .navbar-toggler {
    top: -45px !important;
  }

  .main-blog {
    margin-right: 0px !important;
  }

  .blog-container {
    margin-right: 0 !important;
    margin-left: 20px !important;

  }

}

@media only screen and (max-width: 991px) {

  .navbar-toggler {
    top: 9px;
  }
}